<div class="panel panel-default" id="navbar">
  <div class="panel-heading">
    <ul class="nav nav-pills">
      <li role="presentation"><i class="fa fa-beer fa-3x" aria-hidden="true"></i>&nbsp;</li>
      <li role="presentation" class="active"><a routerLink="/rules">Rules</a></li>
      <li role="presentation" ><a routerLink="/game">Game</a></li>
      <li role="presentation" ><a routerLink="/about">About</a></li>
      <li role="presentation" ><a routerLink="/donate">Donate</a></li>
    </ul>
  </div>
</div>
