<md-card>
  <md-card-title-group>
    <md-card-title>Regler</md-card-title>
    <md-card-subtitle>Vælg herunder et antal øjne for at få en forklaring</md-card-subtitle>
    <i class="fa fa-balance-scale fa-3x"></i>
  </md-card-title-group>
  <md-card-content>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </md-card-content>
</md-card>

<app-dice-selector (onBothDiceSelected)="eye.findDiceDescription($event)"></app-dice-selector>

<app-eye-description #eye></app-eye-description>
