<md-card>
  <img md-card-image class="cropped-image small" src="../../../assets/dice.jpg">
  <md-card-title-group>
    <md-card-title>Vælg antal øjne</md-card-title>
  </md-card-title-group>
  <md-card-content>
    <p>Første terning:&nbsp;{{firstDieValue}}</p>
    <md-radio-group class="example-radio-group">
      <md-radio-button *ngFor="let number of numbers"
                       [value]="number"
                       (click)="firstDieSelected(number)">
        {{number}}&nbsp;&nbsp;
      </md-radio-button>
    </md-radio-group>
    <p>Anden terning:&nbsp;{{secondDieValue}}</p>
    <md-radio-group>
      <md-radio-button *ngFor="let number of numbers"
                       [value]="number"
                       (click)="secondDieSelected(number)">
        {{number}}&nbsp;&nbsp;
      </md-radio-button>
    </md-radio-group>
  </md-card-content>
</md-card>
