/* Other possible themes for angular material */
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

body {
  margin: 0;
  background-color: whitesmoke;
}

md-card {
  margin: 1em;
}

.cropped-image {
  height: 10em;
  object-fit: cover;

  &.big {
    height: 20em
  }
  &.medium {
    height: 10em
  }
  &.small {
    height: 5em
  }
}

md-card-subtitle {
  .md-card-subtitle {
    margin-bottom: 0;
  }
}

.mat-radio-label-content {
  padding-left: 4px !important;
  padding-right: 8px !important;
}
