<md-toolbar color="accent">
  <a md-button routerLink="/"><i class="fa fa-beer fa-2x"></i></a>
  <a md-button routerLink="/" routerLinkActive="active">Velkommen</a>
  <a md-button routerLink="/" routerLinkActive="active">Spillet</a>
  <a md-button routerLink="/" routerLinkActive="active">Om</a>
</md-toolbar>

<md-card>
  <md-card-title-group>
    <md-card-title>Title</md-card-title>
    <md-card-subtitle>Subtitle</md-card-subtitle>
  </md-card-title-group>
  <md-card-content>
    <p>
      Some content
    </p>
  </md-card-content>
</md-card>

<router-outlet></router-outlet>
