/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
//@import "~@angular/material/prebuilt-themes/purple-green.css";
//@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

$margin-side: 1em;
$margin-top: 4.5em;

body {
  margin: 0;
  // background-color: #eceff1;
  background-color: whitesmoke;
}

.content {
  margin: $margin-top $margin-side $margin-side;
}

md-card {
  margin-bottom: 1em;
}
