<div *ngFor="let item of items | async ">
  <md-card>
    <md-card-title-group>

      <md-card-title>
        <div *ngIf="die1; then titleThen else titleElse"></div>
        <ng-template #titleThen>{{item.card.title}}</ng-template>
        <ng-template #titleElse>Vælg antal øjne overfor</ng-template>
      </md-card-title>

      <md-card-subtitle>
        <div *ngIf="die1; then thenBlock else elseBlock">hello</div>
        <ng-template #thenBlock>{{item.card.subtitle}}</ng-template>
        <ng-template #elseBlock>Næsten klar, bare vælg antal øjne</ng-template>
      </md-card-subtitle>

    </md-card-title-group>

    <md-card-content>

      <div *ngIf="die1; then paraThen else paraElse"></div>
      <ng-template #paraThen>
        <p *ngFor="let content of item.card.content">
          {{content}}
        </p>
      </ng-template>
      <ng-template #paraElse>
        Forklaringen kommer her når der er valgt et antal øjne på feltet ovenfor.
      </ng-template>

    </md-card-content>

  </md-card>
</div>

