
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 1em black;

  a {
    &.active {
      background-color: darken(#3f51b5, 15%);
    }
  }
}
