<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Beskrivelse</h3>
  </div>
  <div class="panel-body">
    This is a description.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Regler</h3>
  </div>
  <div class="panel-body">
    Rule number something, and this one is about something specialt. The rule is...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Regler</h3>
  </div>
  <div class="panel-body">
    Rule number something, and this one is about something specialt. The rule is...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Regler</h3>
  </div>
  <div class="panel-body">
    Rule number something, and this one is about something specialt. The rule is...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Regler</h3>
  </div>
  <div class="panel-body">
    Rule number something, and this one is about something specialt. The rule is...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Regler</h3>
  </div>
  <div class="panel-body">
    Rule number something, and this one is about something specialt. The rule is...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Regler</h3>
  </div>
  <div class="panel-body">
    Rule number something, and this one is about something specialt. The rule is...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Regler</h3>
  </div>
  <div class="panel-body">
    Rule number something, and this one is about something specialt. The rule is...
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Regler</h3>
  </div>
  <div class="panel-body">
    Rule number something, and this one is about something specialt. The rule is...
  </div>
</div>
